.navbar {
    background: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: var(--shadow-md);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.logo-highlight {
    color: var(--highlight-color);
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-item {
    height: 80px;
}

.nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1.5rem;
    height: 100%;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: var(--highlight-color);
}

.login-btn {
    padding: 0.6rem 2rem;
    margin-left: 1rem;
    font-size: 0.9rem;
}

.menu-icon {
    display: none;
    color: #fff;
}

@media screen and (max-width: 960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        background: var(--primary-color);
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}